<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">
  <h1 style="text-align: center;"><%= title %></h1>

    <fieldset>
      <br>
  <div class="media">
        <img class="align-self-center mr-3" src="/img/photo1.jpeg" alt="Generic placeholder image" style="width: 30%;">
        <div class="media-body">
          <h5 class="mt-0">Sean Chan</h5>
          <br>

          <p style="text-align: left;">Hello, my name is Siu Hang Chan, and I am currently pursuing a Software Engineering Technician diploma at Centennial College. 
            I have always been passionate about technology and its ability to shape the world around us. </p>
          <p class="mb-0" style="text-align: left;">Through my studies, I have gained a strong foundation in software development and engineering principles. 
              I am eager to apply my skills and knowledge to real-world projects and contribute to the ever-evolving field of software engineering.</p>
              <br><br>
              <a href="/Content/cv.pdf" class="btn btn-success">CV</a>
        </div>
      </div>
      </fieldset>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>    
      <%- include ('partials/footer.ejs') %>



   