<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">
  <h1 style="text-align: center;"><%= title %></h1>

    <div class="row row-cols-3 row-cols-md-3 g-2">
        <div class="col">
          <div class="card h-100">
            <img src="img/addicted_button.png" class="card-img-top" alt="addicted_button">
            <div class="card-body">
              <h5 class="card-title">Addicted Button</h5>
              <p class="card-text">This is just a ADDICTED BUTTON. It's purpose is depending on the Users.</p>
              <a href="projects/addicted_button.html" class="btn btn-success">Addicted Button</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="img/planner.jpg" class="card-img-top" alt="planner">
            <div class="card-body">
              <h5 class="card-title">Planner</h5>
              <p class="card-text">The planner app is a versatile and user-friendly tool designed to help you stay organized and manage your daily tasks efficiently. With its intuitive interface and comprehensive features, it allows you to plan, schedule, and prioritize your activities with ease.</p>
              <a href="projects/memo.html" class="btn btn-info">Planner</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="img/todolist.png" class="card-img-top" alt="todolist">
            <div class="card-body">
              <h5 class="card-title">To do List</h5>
              <p class="card-text">The to-do list app is a straightforward and efficient tool designed to help you stay on top of your tasks and prioritize your daily activities. With its user-friendly interface and essential features, it allows you to create, manage, and track your to-do lists effortlessly.
              </p>
              <a href="projects/index.html" class="btn btn-primary stretched-link">To Do List</a>
            </div>
          </div>
        </div>
      </div>    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   