<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">

    <h1 style="text-align: center;"><%= title %></h1>
    <div class="row row-cols-2 row-cols-md-2 g-2">
      <div class="col">
        <div class="card h-100">
          <img src="img/softwareprogramming.jpg" class="card-img-top" alt="software_programming">
          <div class="card-body">
            <h5 class="card-title">Software Programming</h5>
            <p class="card-text">Our software programming service is a robust solution for businesses looking to build, maintain, or improve their software infrastructure. With a team of highly skilled programmers proficient in a multitude of programming languages and frameworks, we are equipped to handle a wide array of software development tasks.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="img/webapplication.jpg" class="card-img-top" alt="webapplication">
          <div class="card-body">
            <h5 class="card-title">Web application development</h5>
            <p class="card-text">Web Application Development Services:

                Our web application development service offers tailored, scalable, and interactive solutions to accommodate your unique business needs. We specialize in creating high-performing, feature-packed, and digitally transformative web applications for a wide range of industry verticals.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="img/gamedesign.jpeg" class="card-img-top" alt="game design">
          <div class="card-body">
            <h5 class="card-title">Game Design</h5>
            <p class="card-text">Our game design service provides a comprehensive approach to game development, emphasizing a balance between technical competence, creativity, and collaborative planning. With an experienced team of game designers, programmers, artists, and sound designers, we excel at creating engaging and immersive gaming experiences.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="img/DBMS.png" class="card-img-top" alt="project_management">
          <div class="card-body">
            <h5 class="card-title">Database management</h5>
            <p class="card-text">Our Database Management System (DBMS) service offers comprehensive solutions to organize, store, manage, and retrieve data efficiently and securely. We specialize in providing robust and scalable DBMS solutions that ensure the integrity, security, and availability of your data.</p>
          </div>
        </div>
      </div>
    </div>

</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>


   